/* Task.css */

.task-container {
    padding: 10px 20px;
    border-top: 1px solid #444c56;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.task-title {
    display: flex;
    align-items: start;
    color: #ccc;
    gap: 10px;
}

.task-body {
    display: flex;
    flex-direction: column;
}

.task-body span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-title .h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ccc;
}

.task-title p {
    color: #ccc;
}

.task-title .h3:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.task-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-responsibles {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilos para el resto de componentes */
.responsible {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.responsible img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.responsible span {
    font-size: 14px;
    font-weight: bold;
}

.subtask {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.subtask input[type="checkbox"] {
    margin-right: 8px;
}

.subtask label {
    font-size: 14px;
}

.author-info {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.author-info img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
}

.author-info span {
    font-size: 16px;
}