/* TaskForm.css */

.container-task-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-task-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container-task-form form {
    display: flex;
    flex-direction: column;
}

.container-task-form label {
    margin-bottom: 10px;
}

.container-task-form input,
.container-task-form textarea,
.container-task-form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.container-task-form button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    color: white;
}

.container-task-form button[type='submit'] {
    background-color: #28a745;
}

.container-task-form button[type='button'] {
    background-color: #dc3545;
}

.container-task-form .error-message {
    color: red;
    margin-top: 10px;
}