.issues-list-container {
    max-height: 80vh;
    overflow: hidden;
    padding: 0px 0px 0px 10px;

}

.issues-list {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.issues-list li:last-child {
    margin-bottom: 5vh;
}