.issue-card {
    width: 100%;
    background-color: rgba(22, 24, 26, 0.767);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px 0px 10px 0px;
}

.issue-card .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: start;
    padding: 0px 10px 0px 10px;
    align-items: center;
}


.issue-card .title h1 {
    font-size: 1rem;
}

.issue-card .author {
    padding: 0px 10px 0px 10px;
    height: fit-content;
}

.issue-card .title .subtitle {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.issue-card .title .subtitle .tag {
    background-color: #6f42c1;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.issue-card .project-info {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
}


.assigned {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.assigned img {
    width: 30px;
    border-radius: 50%;
}

.circle {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #6f42c1;
    color: white;
    font-size: 1rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
}

.circle:hover .circle-content {
    display: none;
}

.circle:hover .eye-icon {
    display: block;
}

.circle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eye-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}