.issue-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 20px 0px 0px;

}

.issue-container button {
    background-color: #6f42c1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-size: 3rem;

}

.issue-card {
    width: 100%;
    background-color: rgba(22, 24, 26, 0.767);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px 0px 10px 0px;


}

.issue-card .title {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
    height: fit-content;
}


.issue-card .title h1 {
    font-size: 1rem;
}

.issue-card .author {
    padding: 0px 10px 0px 10px;
    height: fit-content;
}

.issue-card .title .subtitle {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    width: 100%;
}

.issue-card .title .main-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.issue-card .title .subtitle .tag {
    background-color: #6f42c1;
    color: white;
    border-radius: 5px;
}

.issue-card .project-info {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
}


.assigned {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    gap: 10px;
}

.assigned img {
    width: 30px;
    border-radius: 50%;
}

.circle {
    background-color: #52DBBD;
    padding: 5px;
    border-radius: 50%;
    font-weight: 600;
}