.task-list-container {
    /* Estilos para el contenedor principal */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80%;
    overflow-y: scroll;
}

.task-list-title {
    /* Estilos para el título de la lista de tareas */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 3px solid red;

}

.blank {
    height: 120px;
}