/* src/components/Dashboard/Dashboard.css */
.dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: #666;
    width: 100%;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px);
    background-color: #e5e5e5;
    border-radius: 8px;
    height: calc(100% - 10px);
}