.avatar-circle {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle img {
    position: relative;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 50%;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.alerta-exclamacion {
    position: absolute;
    font-size: 6rem;
    font-weight: 600;
    color: rgb(255, 247, 0);
}

.opaque {
    filter: grayscale(100%);
    opacity: 0.33;
}

.text-alert {
    color: rgb(255, 247, 0);
}

.is-full {
    position: absolute;
    color: rgb(255, 247, 0);
    font-weight: 600;
}