/* NavBar.css */

.navbar {
    /* NAVBAR */
    display: flex;
    align-items: center;
    padding: 10px 40px;
    gap: 30px;
    background: rgba(39, 116, 198, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    margin: 20px 60px;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar-links li {
    margin: 5px 0;
}

.navbar-links li a {
    font-family: 'Jetbrains Mono', monospace;
    padding: 10px;
    color: #cccccc;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    transition: all 0.3s;
}

.navbar-links li a.active {
    color: white;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 10px #ffffff;
}

.dropdown {

    position: relative;
}

.dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    /* o el color de fondo que prefieras */
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    /* Inicialmente oculto */
    flex-direction: column;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    /* o el color de texto que prefieras */
    display: block;
}

.dropdown-menu li a.active {
    color: blue;
}

.dropdown-button:focus+.dropdown-menu,
.dropdown-button:active+.dropdown-menu,
.dropdown-menu:hover {
    display: flex;
    /* Mostrar el menú cuando se hace clic en el botón o cuando el menú está abierto */
}